BODY 
{
	margin: 0px;
	padding: 4px;
	font-family: Verdana;
}

FORM 
{
	display: inline;
}

TABLE 
{
	padding: 0px;
	border-collapse: collapse;
} 
.warning 
{
	border: 1px solid red;
	padding: 3px;
}

.warning h3 
{
	margin: 0px;
	font-size: x-large;
}

.tipBox 
{
	margin-top: 3px;
	width: 240px;
	background-color: #c0c0c0;
	border: 1px solid black;
	padding: 5px;
	float: right;
}

.urlTextBox 
{
	width: 420px;
}

.urlEncodedTextBox 
{
	width: 750px;
}