<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
		</sectionGroup>
	</configSections>
	<elmah>
		<security allowRemoteAccess="0"/>
	</elmah>
	<appSettings>
		<!-- Note: Browse to Preferences.aspx in your browser to modify these settings. -->
		<!-- Note: If you insist on editing this file manually, you must restart the webapp manually. -->
		<add key="ErrorFeedbackEnabled" value="False"/>
		<add key="AppendOriginalAudioEnabled" value="False"/>
		<add key="NumberOfHoursToCacheStretchedPodcasts" value="2"/>
		<add key="TransformerType" value="CommandLine"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<customErrors mode="Off"/>
		<httpHandlers>
			<!--<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />-->
		</httpHandlers>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
		</httpModules>
		<!-- Allow an hour-long executionTimeout (for the processing of larger podcast audio files) -->
		<httpRuntime executionTimeout="3600" waitChangeNotification="315360000" maxWaitChangeNotification="315360000"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        Two steps should stop IIS7's complaints about ELMAH:
        1. Remove handlers and modules from <system.web>
        2. Remove the <validation validateIntegratedModeConfiguration="false" /> element
    -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />-->
			<!--<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />-->
		</modules>
		<handlers>
			<!--<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />-->
		</handlers>
	</system.webServer>
	<!-- 
        The following entry denies unauthenticated users access to 
        the path from where ELMAH's handlers are accessible. If you 
        have role-based security implemented, you SHOULD consider 
        instead allowing access by a particular role (for example, 
        operators and administrators).
        
        IMPORTANT: If you change the path of the handler above
        then you MUST also change the path in the location tag below
        to be the same.

        For more information, see:
        http://code.google.com/p/elmah/wiki/SecuringErrorLogPages
    -->
	<!--
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  -->
</configuration>
